# ignore office temp files
~$* 
# ignore python cache files
__pycache__/*

# ignore trial folder
trial/*

#ignore temp code runner file
*tempCodeRunner*.py

# ignore 攻略
攻略/*

# ignore log
*.log

# 我想保存一下，准备删档了
# */*my_local/*

# ignore temp picture
*temp*


# ignore example
*example*